{% extends "layouts/default.html" %}

# add title ##
{% block title %}{{article.title}}{% endblock title %}

# add content to thin ##
{% block content %}
	<div>
		<h1>{{ article.title }}</h1>
		{# https://en.wikipedia.org/wiki/Words_per_minute#Reading_and_comprehension #}
		<h5>{{ article.summary }}</h5>
		<h5>Read time: {{ -(-article.content.split().__len__() // 228) }} min</h5>
		<small>Written on {{ article.date.strftime("%B %d, %Y") }}</small>
		{% if article.poster != _blank %}
		<img class="img-fluid" src="{{static}}/images/posters/{{article.poster}}">
		{% else %}
		<img class="img-fluid" src="{{SITEURL}}/theme/images/blog.svg">
		{% endif %}
	</div>
	<div> 
	<article>
	{{ article.content }}
	</article>
	</div>
    {% include 'includes/tag.html' %}
	{% include 'includes/post_comments.html' %}
{% endblock content %}
