.codehilite table td { padding: 5px; }
.codehilite table pre { margin: 0; }
.codehilite .c, .codehilite .cd {
  color: #abb0b6;
}
.codehilite .cm {
  color: #abb0b6;
}
.codehilite .c1 {
  color: #abb0b6;
}
.codehilite .cp {
  color: #abb0b6;
}
.codehilite .cs {
  color: #e6b673;
}
.codehilite .err {
  color: #fafafa;
  background-color: #f51818;
}
.codehilite .gi {
  color: #86b300;
}
.codehilite .gd {
  color: #f51818;
}
.codehilite .ge {
  font-style: italic;
}
.codehilite .gr {
  color: #fafafa;
  background-color: #f51818;
}
.codehilite .gt {
  color: #fafafa;
  background-color: #f51818;
}
.codehilite .gh {
  color: #ff6a00;
}
.codehilite .go {
  color: #6e7580;
}
.codehilite .gp {
  color: #6e7580;
}
.codehilite .gs {
  font-weight: bold;
}
.codehilite .gu {
  color: #6e7580;
}
.codehilite .k, .codehilite .kv {
  color: #fa6e32;
}
.codehilite .kc {
  color: #fa6e32;
}
.codehilite .kd {
  color: #fa6e32;
}
.codehilite .kp {
  color: #fa6e32;
}
.codehilite .kr {
  color: #fa6e32;
}
.codehilite .kt {
  color: #fa6e32;
}
.codehilite .kn {
  color: #ed9366;
}
.codehilite .ow {
  color: #ed9366;
}
.codehilite .o {
  color: #ed9366;
}
.codehilite .mf {
  color: #a37acc;
}
.codehilite .mh {
  color: #a37acc;
}
.codehilite .il {
  color: #a37acc;
}
.codehilite .mi {
  color: #a37acc;
}
.codehilite .mo {
  color: #a37acc;
}
.codehilite .m, .codehilite .mb, .codehilite .mx {
  color: #a37acc;
}
.codehilite .se {
  color: #a37acc;
}
.codehilite .sb {
  color: #86b300;
}
.codehilite .sc {
  color: #86b300;
}
.codehilite .sd {
  color: #86b300;
}
.codehilite .s2 {
  color: #86b300;
}
.codehilite .sh {
  color: #86b300;
}
.codehilite .si {
  color: #86b300;
}
.codehilite .sx {
  color: #86b300;
}
.codehilite .s1 {
  color: #86b300;
}
.codehilite .s {
  color: #86b300;
}
.codehilite .ss {
  color: #55b4d4;
}
.codehilite .sr {
  color: #4cbf99;
}
.codehilite .na {
  color: #f07171;
}
.codehilite .nc {
  color: #f29718;
}
.codehilite .nd {
  color: #f29718;
}
.codehilite .ne {
  color: #f29718;
}
.codehilite .nf {
  color: #f29718;
}
.codehilite .no {
  color: #a37acc;
}
.codehilite .bp {
  color: #399ee6;
}
.codehilite .nb {
  color: #399ee6;
}
.codehilite .ni {
  color: #399ee6;
}
.codehilite .nn {
  color: #399ee6;
}
.codehilite .vc {
  color: #399ee6;
}
.codehilite .vg {
  color: #399ee6;
}
.codehilite .vi {
  color: #399ee6;
}
.codehilite .nv {
  color: #399ee6;
}
.codehilite .w {
  color: #399ee6;
}
.codehilite .nl {
  color: #399ee6;
}
.codehilite .nt {
  color: #55b4d4;
}
.codehilite {
  color: #6e7580;
  background-color: #fafafa;
}
