<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ config.title }}{% endblock %}</title>
  {% if not config.extra.favicon %}
  <link rel="icon" href="{{ get_url(path='images/favicon.svg') }}">
  {% endif %}
  <link rel="stylesheet" href="{{ get_url(path='css/style.css') }}">
  {% block head %}{% endblock %}
  {{ <theme_init /> }}
</head>
<body>
  {{ <navbar config={config} /> }}
  <div class="content">
    {% block content %}{% endblock %}
  </div>
  {{ <footer/> }}
  {{ <theme_toggle /> }}
  {% block scripts %}{% endblock %}
</body>
</html>
