{% component theme_init() %}
<script>
  let t = localStorage.getItem("theme");
  let theme = t === "light" || (!t && matchMedia("(prefers-color-scheme: light)").matches) ? "light" : "dark";
  document.documentElement.setAttribute("data-theme", theme);
  document.querySelector("#giallo-light").disabled = theme !== "light";
  document.querySelector("#giallo-dark").disabled = theme !== "dark";
</script>
{% endcomponent theme_init %}

{% component theme_toggle() %}
<script>
  document.querySelector("#theme-toggle").addEventListener("click", function () {
    const html = document.documentElement;
    const current = html.getAttribute("data-theme");
    const theme = current === "light" ? "dark" : "light";

    html.setAttribute("data-theme", theme);
    localStorage.setItem("theme", theme);

    document.querySelector("#giallo-light").disabled = theme !== "light";
    document.querySelector("#giallo-dark").disabled = theme !== "dark";
  });
</script>
{% endcomponent theme_toggle %}

